[mariaProfile], [mariaValues] {
  text-align: center;
  padding: 1rem;
}
[mariaProfile] > *, [mariaValues] > * { margin: 0; }
[mariaProfile] > img {
  margin: 0 auto !important;
  width: 20rem;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[mariaProfile] > p { font-style: italic; }
img[alt$="🍃"] { border: 0.5rem solid #793a80; }
img[alt$="🪷"] { border: 0.5rem solid #66a898; }
img[alt$="🌸"] { border: 0.5rem solid #f0a9a9; }

.wantFullVer { text-align: center; }
.wantFullVer > * { margin: 0; }