[centre] {
  width: 50rem;
  max-width: 100%;
  margin: 0 auto;
}

.spc { /* replace <br> x6 */
  width: 100%;
  height: 7.5rem;
}

[navBtns] {
  position: absolute;
  bottom: 0;
  width: 50rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
  text-align: center;
  z-index: 10;
}
[navBtns] > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

/* 101: https://www.w3schools.com/cssref/css_selectors.php */
[id^="cont-"] {
  padding: 7.5rem 1rem calc(7.5rem + calc(7.5rem / 2)) 1rem;
  display: none;
}
[id^="cont-"] > * { margin: 0; }

[mariaLogo] {
  display: block;
  width: 37.5rem;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}