/* theming options */
@media (prefers-color-scheme: light) {
  html { background-color: #dcc6bb; }
  body { color: #3d374c; }
  [navBtns] {
    background-color: #dcc6bb;
    box-shadow: 0 0 4px #3d374c40, 0 4px 8px #3d374c80;
  }
}
@media (prefers-color-scheme: dark) {
  html { background-color: #3d374c; }
  body { color: #dcc6bb; }
  [navBtns] {
    background-color: #3d374c;
    box-shadow: 0 0 4px #dcc6bb40, 0 4px 8px #dcc6bb80;
  }
}

/* dynamic fontsize */
@media screen and (max-width: 540px) {
  body { font-size: normal; }
}
@media screen and (min-width: 540px) and (max-width: 1080px) {
  body { font-size: large; }
}
@media screen and (min-width: 1080px) and (max-width: 1620px) {
  body { font-size: larger; }
}
@media screen and (min-width: 1620px) and (max-width: 2160px) {
  body { font-size: x-large; }
}
@media screen and (min-width: 2160px) {
  body { font-size: xx-large; }
}